USE [CTC]
GO
/****** Object:  Table [ctc].[IT_import_stage_5]    Script Date: 11/21/2008 15:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ctc].[IT_import_stage_4](
	[field1] [varchar](max) NULL,
	[field2] [varchar](max) NULL,
	[field3] [varchar](max) NULL,
	[field4] [varchar](max) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF